DataStructures/DataStructures/bin
DataStructures/DataStructures/obj
DataStructures/DataStructures/DataStructures.csproj.user
DataStructures/DataStructures.Tests/bin
DataStructures/DataStructures.Tests/obj
DataStructures/DataStructures.Tests/DataStructures.Tests.csproj.user
DataStructures/DataStructures.suo
DataStructures/DataStructures.v12.suo
